body, html
{
	margin:0;
	padding:0;
	font-family: 'Muli';
}

/** header **/
header
{
	display:block;
}
h1
{
	margin-bottom: 25px;
	font-weight: bold;
}
h1.uline, h2.uline, h3.uline, h4.uline, h5.uline, h6.uline
{
	border-bottom: 1px #ddd solid;
}
h1.uline:after, h2.uline:after, h3.uline:after, h4.uline:after, h5.uline:after, h6.uline:after
{
  content: "";
  display: block;
  position: relative;
  top: 1px;
  height: 3px;
  background-color: #337ab7;
}
h1.uline:after { width: 60%; }
h2.uline:after { width: 50%; }
h3.uline:after { width: 40%; }
h4.uline:after { width: 30%; }
h5.uline:after { width: 20%; }
h6.uline:after { width: 10%; }

/** footer **/
footer
{
	display:block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
}

/** content **/
.content
{
   min-height:100%;
   position:relative;
}

.main-container
{
	padding-top:50px;
	padding-bottom:50px;
}

/** nav bar - header and footer generic**/
.navbar
{
	text-transform: uppercase;
	background-color: #0B92D3;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 0px;
}
.navbar .navbar-text
{
	margin: 0px;
	padding: 15px;
	height: 50px;
	line-height: 20px;
}

.navbar-default .navbar-nav>li
{
	overflow: hidden;
}
.navbar-default .navbar-nav>li>a
{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

/** nav bar - header */
@media (min-width: 768px) {
	.navbar-right
	{
		margin-right: -5px;
	}
}
header.navbar-default .navbar-toggle
{
	border-radius: 0px;
	border: 1px #fff solid;
	color: #fff;
}
header.navbar-default .navbar-toggle:hover,
header.navbar-default .navbar-toggle:focus
{
	background-color: #fff;
}
header.navbar-default .navbar-toggle .icon-bar
{
	background-color: #fff;
}
header.navbar-default .navbar-toggle:hover .icon-bar,
header.navbar-default .navbar-toggle:focus .icon-bar
{
	background-color: #0B92D3;
}

header.navbar-default .navbar-brand
{
	padding: 7px 15px 0px 15px;
}
header.navbar-default .navbar-nav>li>a.nav-link-underline
{
	padding: 0px;
	margin: 16px 10px 0px 10px;
	overflow: hidden;
}
header.navbar-default .navbar-nav>li>a.nav-link-underline:hover,
header.navbar-default .navbar-nav>li>a.nav-link-underline:focus
{
	color: #ddf;
}
header.navbar-default .navbar-nav>li.active>a.nav-link-underline,
header.navbar-default .navbar-nav>li.active>a.nav-link-underline:hover
{
  background-color: transparent;
  color: #ddd;
}

header.navbar-default .navbar-nav>li>a.nav-link-tertiary
{
	margin: 8px 5px 0px 5px;
	height: 34px;
	line-height: 36px;
	padding: 0px 10px 0px 10px;
}
header.navbar-default .navbar-nav>li>a.nav-link-default
{
	margin: 7px 5px 0px 5px;
	height: 34px;
	line-height: 36px;
	padding: 0px 9px 0px 9px;
	border: 1px #fff solid;
	border-radius: 5px;
}
header.navbar-default .navbar-nav>li>a.nav-link-primary
{
	margin: 7px 5px 0px 5px;
	height: 34px;
	line-height: 36px;
	padding: 0px 9px 0px 9px;
	border: 1px #fff solid;
	background-color: #fff;
	color: #0B92D3;
	border-radius: 5px;
}
header.navbar-default .navbar-nav>li>a.nav-link-tertiary:hover
{
	color: #000;
	background-color: #fff;
}
header.navbar-default .navbar-nav>li>a.nav-link-default:hover
{
	color: #000;
	background-color: #fff;
}
header.navbar-default .navbar-nav>li>a.nav-link-primary:hover
{
	color: #fff;
	background-color: transparent;
}

@-webkit-keyframes bouncelaser {
    0% {transform: scale(1, 1);}
    100% {transform: scale(0.85, 1);}
}
@-moz-keyframes bouncelaser {
    0% {transform: scale(1, 1);}
    100% {transform: scale(0.85, 1);}
}
@-o-keyframes bouncelaser {
    0% {transform: scale(1, 1);}
    100% {transform: scale(0.85, 1);}
}
@keyframes bouncelaser {
    0% {transform: scale(1, 1);}
    100% {transform: scale(0.85, 1);}
}

@-webkit-keyframes laser {
    0% {transform: scale(0, 1);}
    60% {transform: scale(1, 1);}
    100% {transform: translateX(100%);}
}
@-moz-keyframes laser {
    0% {transform: scale(0, 1);}
    60% {transform: scale(1, 1);}
    100% {transform: translateX(100%);}
}
@-o-keyframes laser {
    0% {transform: scale(0, 1);}
    60% {transform: scale(1, 1);}
    100% {transform: translateX(100%);}
}
@keyframes laser {
    0% {transform: scale(0, 1);}
    60% {transform: scale(1, 1);}
    100% {transform: translateX(100%);}
}
header.navbar-default .navbar-nav>li>a.nav-link-underline:after
{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ddf;
 
  -ms-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  
  -ms-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
header.navbar-default .navbar-nav>li.active>a.nav-link-underline:after
{
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* disable laser line for collapsed menu, looks strange */
@media (min-width: 768px) {
  header.navbar-default .navbar-nav>li>a.nav-link-underline:hover:after {
    -webkit-animation: laser 0.4s ease-in 1;
    -moz-animation: laser 0.4s ease-in 1;
    -o-animation: laser 0.4s ease-in 1;
    animation: laser 0.4s ease-in 1;
  }
  header.navbar-default .navbar-nav>li.active>a.nav-link-underline:hover:after {
    -webkit-animation: bouncelaser 0.6s ease-in-out infinite alternate;
    -moz-animation: bouncelaser 0.6s ease-in-out infinite alternate;
    -o-animation: bouncelaser 0.6s ease-in-out infinite alternate;
    animation: bouncelaser 0.6s ease-in-out infinite alternate;
  }
}

/** footer nav */

footer .navbar
{
	background-color: #43474D;
	color: #8C8E91;
}
footer .navbar .navbar-nav>li>a
{
	color: #8C8E91;
	font-size: 12px;
}
footer .navbar .navbar-nav>li>a:hover
{
	color: #9D9FA2;
}

/** background color panels **/
.bg-panel
{
	padding: 25px;
	margin: 20px 0px;
}
.bg-panel-default
{
	background-color: #fff;
}
.bg-panel-primary
{
	color: #fff;
	background: #0B92D3;
	background-image: -ms-radial-gradient(center, circle farthest-corner, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: -moz-radial-gradient(center, circle farthest-corner, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 505, color-stop(0, #0B92D3), color-stop(0.5, #0CB0FF), color-stop(1, #0B92D3));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: radial-gradient(circle farthest-corner at center, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
}
.bg-panel-secondary
{
	color: #fff;
	background: #5FBAE6;
	background-image: -ms-linear-gradient(top left, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: -moz-linear-gradient(top left, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: -o-linear-gradient(top left, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #0B92D3), color-stop(0.5, #0CB0FF), color-stop(1, #0B92D3));
	background-image: -webkit-linear-gradient(top left, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
	background-image: linear-gradient(to bottom right, #0B92D3 0%, #0CB0FF 50%, #0B92D3 100%);
}

/** buttons **/
.btn
{
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 12px;
}

.btn-default
{
	border-radius: 5px;
	border: 1px #fff solid;
	background-color: transparent;
	color: #fff;
}
.btn-default:hover,.btn-default:focus
{
	border: 1px #fff solid;
	color: #000;
	background-color: #fff;
}
.btn-primary
{
	border-radius: 5px;
	border: 1px #fff solid;
	background-color: #fff;
	color: #0B92D3;
}
.btn-primary:hover,.btn-primary:focus
{
	border: 1px #fff solid;
	color: #fff;
	background-color: transparent;
}
.btn-secondary
{
	border-radius: 5px;
	border: 1px transparent solid;
	background-color: transparent;
	color: #0B92D3;
}
.btn-secondary:hover,.btn-secondary:focus
{
	border: 1px #0B92D3 solid;
	color: #0B92D3;
}
.btn-big
{
	border-radius: 5px;
	border: 1px #0B92D3 solid;
	background-color: #0B92D3;
	color: #fff;
	font-size: 25px;
}
.btn-big:hover,.btn-big:focus
{
	border: 1px #0B92D3 solid;
	color: #0B92D3;
	background-color: #fff;
}


/** alert message **/
#alert-container
{
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 2;
}
#alert-container .alert{
	width: 460px;
	margin: 0px auto;
	border-radius: 0px;
}

/** animations **/
.do-wobble
{
	cursor: pointer;
}


/** home page **/
.jumbotron
{
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 0px;
}
.homejumbo
{
	margin: 0px;
	padding: 0px;
	position: relative;
}
.homejumbotext
{
	position: absolute;
	width: 100%;
	top: 60px;
}
.homejumbotext h1
{
	color: #fff;
	font-weight: bold;
}
@media (min-width: 560px) {
	.homejumbotext
	{
		top: 160px;
	}
}
@media (min-width: 768px) {
	.homejumbotext
	{
		top: 200px;
	}
}
@media (min-width: 992px) {
	.homejumbotext
	{
		top: 400px;
	}
}

.homejumbotext div
{
	width: 500px;
	margin: 0px auto;
}
.homejumbo video
{
	display: block;
	width: 100%;
}

/** page parts **/

@media (min-width: 768px) {
	/** remove margin above headers */
	.heading-top-flush
	{
		margin-top: 0px;
	}
}

.container-top-space
{
	margin-top: 20px;
}
.flush-top
{
	margin-top: 0px;
}


.img-thumbnail
{
	border-radius: 0px;
	height: 200px;
}
.img-basic
{
	/*width: 100%;*/
	/*height: 200px;*/
	border: 0px;
	max-width: 100%;
	max-height: 100%;
}
.img-basic img
{
	/*width: 100%;*/
	/*height: 190px;*/
	max-width: 100%;
	max-height: 100%;
}
.img-tall
{
	width: 100%;
	height: 300px;
}

.row-spacer
{
	margin-bottom: 20px;
}

.carousel
{
	padding-top: 20px;
	padding-bottom: 40px;
}
.carousel .carousel-inner .item
{
	line-height: 0px;
}
.carousel .carousel-indicators
{
	bottom: 0px;
}
.carousel .carousel-control
{
	width: 10%;
}
.carousel .carousel-control .arrow
{
	position: absolute;
	top: 50%;
	font-weight: bolder;
	font-size: 30px;
	height: 30px;
	margin-top: -15px;
}
.carousel .carousel-control.right .arrow
{
	margin-left: -22px;
}